doctype html
html
  head
    title
      | Mapic

    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false

    = javascript_include_tag 'application'
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'

    = csrf_meta_tags
  body
    = yield
